:root {
  --c-black: rgb(10, 10, 10);
  --c-white: rgb(255, 255, 255);
  --c-gray: rgba(242, 242, 247, 0.5);
  --c-main: #ECCFA3;

  font-family: Baskerville, "Times New Roman", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--c-white);
  background-color: var(--c-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: block;
  color: var(--c-main);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 0.5px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
