.content {
  /* z-index: 5; */
  max-width: 535px;
  container-type: inline-size;
  width: 100%;
  margin: 1rem;
  position: relative;
  padding: 5px;
}

.content::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  box-shadow: inset 0px 0px 50px -10px rgba(0, 0, 0, 1);
}

.margin-b-1 {
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  margin-top: 1rem;
  color: var(--c-gray);
}
