@import "@/src/styles/base.css";
@import "@/src/styles/layout.css";

.wrapper {
  cursor: default;
  height: calc(100vh - 1rem - 1rem);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 49.5px;
  font-weight: 400;
  margin: 0rem calc(50% - 50vw) 1rem calc(50% - 50vw);
  text-shadow: 0px 0px 2px #FFDF9D;
}

.description {
  text-align: justify;
  hyphens: auto;
  width: fit-content;
  font-size: 20px;
  margin: 0.5rem 0;
}

.link {
  display: inline;
  text-underline-offset: 3px;
}

.hub {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.links-vertical {
  display:  flex;
  flex-direction: column;
  margin-top: -3px;
}

.links-horizontal {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.link-item {
  display: flex;
  width: max-content;
  align-items: center;
  font-size: 20px;
}

.vertical-divider {
  display: flex;
  align-items: center;
}

.vertical-divider::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #ccc;
  margin: 0px 15px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  touch-action: none;
  pointer-events: none;
  max-width: 1440px;
  max-height: 779px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qrcode {
  max-width: 150px;
  width: 100%;
  height: auto;
  shape-rendering: crispEdges;
}

.hidden {
  display: none;
}

@media (max-width: 578px) {
  .title {
    font-size: 9.5cqw;
  }

  .description, .link-item {
    font-size: 16px;
  }

  .footer {
    font-size: 12px;
    text-align: center;
  }

  .qrcode {
    max-width: 120px;
  }
}
